
/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  font-size: 0.7rem;
  line-height: 1;
  padding: to-em(10px) 0;
  color: $white;
  background-color: $black;

  text-align: center;
  p {
    margin-bottom: 0;
  }
}
.footer-widgets {
  background-color: #eee;
}
.footer-widgets .wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  @include media('>md') {
    flex-flow: row nowrap;
    align-items: center;
  }
}

.footer-widget-area {
  flex: 1;
  border: 1px solid $red;
  background: rgba($white,0.98);
  padding: 1.5em;
  margin: 0.5em;

}

.footer-widgets p {
  margin: 0;

  img {
    margin: 0 auto;
  }

}

.footer-widgets-1, .footer-widgets-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-widgets-3 {
  img {
    width: 80%;

  }
}

.footer-widgets-2 a {
  font-size: 1.4em;
  color: $red;
  text-decoration: none;
  font-weight: bold;

  &:hover, &:focus {
    text-decoration: underline;
  }
}
