
/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
 // min-height: $site-header-min-height;
  border-bottom: 1px solid $color-border-default;
  background-color: $white;

}

.site-header > .container > .row > .col-12 {
  padding-top: $site-header-padding-top;
  padding-bottom: $site-header-padding-bottom;
  display: grid;
  grid-template-columns: calc(100% - 4rem) 4rem;
  grid-template-rows: 100% 100%;
  align-items: center;

  transition: padding 0.2s;

  .menu-toggle {
    grid-column: 2;
    grid-row: 1;
  }

  .title-area {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
  }

  nav {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

}
.fixed-header .site-header > .container > .row > .col-12 {
  padding-top: #{$site-header-padding-top - 20px};
  padding-bottom: #{$site-header-padding-bottom - 20px};
}
@include media('>mobileMenu') {

  .site-header > .container > .row > .col-12 {
    grid-template-columns: 20% 80%; //80% instead of auto for IE11
    grid-template-rows: 100%;

    nav {
      grid-column: 2;
      grid-row: 1;
    }
  }
}

/* ## Title Area
--------------------------------------------- */



.site-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;

}

.header-image .site-title > a {
  background: url(../../images/logo3.png) no-repeat;
  background-position: left center;
  background-size: contain;
  min-height: to-em($header-image-min-height);
  width: 100%;
  display: inline-block;

}
.fixed-header.header-image .site-title > a {
  min-height: #{  to-em($header-image-min-height) / 1.5 };


}
.site-description {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;

}

.site-description,
.site-title {
  margin-bottom: 0;
  text-align: center;
}

.header-image .site-description,
.header-image .site-title a {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

